@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  background-color: white;
}
::-webkit-scrollbar-thumb{
  background-color: #f97316;
}